# OS/IDE
.idea/
.vscode/
.DS_Store

# Virtual environment
.venv/
.env/

# Data inputs/outputs 
SN2_buildings_train_AOI_3_Paris/
SN3_roads_train_AOI_3_Paris/
AOI_3_Paris_Test_public/
dataset_paris_*/

# Python
__pycache__/ 
*.pyc

# Checkpoints
*.pt
*.pth
*.log
